{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static '/styles/lists.css' %}">
{% endblock %}

{% block content %}
<div class="contains-table">
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Name</td>
                <td>URL</td>
                <td>Address</td>
                <td>
                    <a href="{% url 'add_publisher' %}" class="add-button">
                        ADD
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for publisher in publishers %}
                <tr>
                    <td>{{publisher.name}}</td>
                    <td><a href="{{publisher.url}}">Website</a></td>
                    <td>{{publisher.address}}</td>
                    <td>
                        <a href="{% url 'edit_publisher' publisher.id %}" class="edit-button">
                            EDIT
                        </a>
                        <form action="{% url 'delete_publisher' publisher.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="delete-button">
                                DELETE
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}